<h1>Pictures</h1>

<h3><%= link_to "Add a New Picture", "pictures/new"  %></h3>

<% @pictures.each do |picture| %>
	<div class="Picture <%= picture.id %>" style="margin-top: 50px;">
		<p><%= picture.title %>, <%= picture.artist %></p>
		<h3 style="margin: 0;"><%= picture.description %></h3>
		<img src="<%= picture.url %>" alt="<%= picture.description %>">
		<p><%= link_to "View Pic", picture %></p>
		<p> <%= link_to "Edit Pic", edit_picture_path(picture) %>
		<p><%= link_to "Delete Pic", picture, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %></p>
		</p>
	</div>

<% end %>